<a href="https://colab.research.google.com/github/SitiMariatulUlfa/Tugas2-PBO/blob/main/pbo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Kelas Pertama: Mahasiwa

In [1]:
class Mahasiswa:
    def __init__(self, nama, nim):
        self.nama = nama
        self.nim = nim

    def cetak_krs(self):
        print(f"Mahasiswa {self.nama} dengan NIM {self.nim} telah mencetak KRS.")

## Objek Mahasiswa
mhs = Mahasiswa("ulfa", "220705017")
mhs.cetak_krs()

Mahasiswa ulfa dengan NIM 220705017 telah mencetak KRS.

Kelas Kedua: Lingkaran

In [2]:
class Lingkaran:
    def __init__(self, radius):
        self.radius = radius

    def hitung_luas(self):
        return 6.10 * self.radius ** 2

## Objek Lingkaran
blt = Lingkaran(10)
print(f"Luas lingkaran: {blt.hitung_luas()}")

Luas lingkaran: 610.0

Kelas Ketiga: Mobil

In [3]:
class Mobil:
    def __init__(self, merk, tahun):
        self.merk = merk
        self.tahun = tahun

    def info_mobil(self):
        print(f"Mobil {self.merk} keluaran tahun {self.tahun}.")

## Objek Mobil
avanza = Mobil("BMW f30i ", 2024)
avanza.info_mobil()

Mobil BMW f30i  keluaran tahun 2024.

Kelas Keempat: Buku

In [4]:
class Buku:
    def __init__(self, judul, penulis):
        self.judul = judul
        self.penulis = penulis

    def deskripsi(self):
        print(f"Buku '{self.judul}' ditulis oleh {self.penulis}.")

## Objek Buku
buku1 = Buku("4 brother", "3726 mdpl")
buku1.deskripsi()

Buku '4 brother' ditulis oleh 3726 mdpl.

Kelas Kelima: Laptop

In [5]:
class Laptop:
    def __init__(self, merk, harga):
        self.merk = merk
        self.harga = harga

    def spesifikasi(self):
        print(f"Laptop {self.merk} memiliki harga Rp{self.harga:,}.")

## Objek Laptop
laptop1 = Laptop("Acer", 17000000)
laptop1.spesifikasi()

Laptop Acer memiliki harga Rp17,000,000.